@model LoginViewModel

@{
	ViewData["Title"] = "Login !";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" >
	<h1>Iniciar Sesion</h1>
	<div class="row d-flex align-items-center justify-content-center">
		<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" role="form">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="usuario" class="control-label"></label>
				<input asp-for="usuario" class="form-control" placeholder="Usuario" required />
				<span asp-validation-for="usuario" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="clave" class="control-label"></label>
				<input asp-for="clave" type="password" class="form-control" placeholder="Contraseña" required />
				<span asp-validation-for="clave" class="text-danger"></span>
			</div>
			<br />
			<div class="row">
				<div class="col-xs-5">
					<input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
				</div>
			</div>
			
		</form>
	</div>
</div>
